In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('assets/cities.csv')
df.head()

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,longyearbyen,75,SJ,1483588200,73,78.22,15.64,26.6,19.46
1,1,asau,0,RO,1483592400,59,46.43,26.40,37.4,14.99
2,2,hartselle,1,US,1483592280,86,34.44,-86.94,32.0,3.36
3,3,komsomolskiy,40,UZ,1483592400,80,40.43,71.72,37.4,3.36
4,4,kapaa,90,US,1483592160,88,22.08,-159.32,71.6,17.22

In [3]:
html_table = df.to_html()
#html_table

In [4]:
df.to_html('datatable.html')